@import "./base/normalize";
@import "./base/fonts";
@import "./utils/variables";
@import "./utils/placeholders";
@import "./base/base";
@import "./components/header";
@import "./components/hero";
@import "./components/sections";
@import "./components/footer";
@import "./components/slider";
@import "./components/burger";
