.footer {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;

  @media screen and($tablet-min-width) {
    // width: 1460px;
    // margin: 0 auto 120px auto;
    //
    // justify-content: space-between;
  }

  &__info {
    text-align: center;
    padding: 40px 0;
  }

  &__more-block {
    display: flex;
    justify-content: space-between;
  }

  &__MNTN-wish {
    margin: 24px 0 40px 0;
    line-height: 1.8;

    @media screen and($tablet-min-width) {
      margin: 24px 0 120px 0;
      width: 300px;
    }
  }

  &__copyright {
    font-family: $footer-links-font;
    line-height: 1.8;
    opacity: 0.5;
  }

  &__links-heading {
    margin-bottom: 24px;
    font-size: 1.2rem;
    line-height: 1.3;
    color: $accent-color;

    @media screen and($tablet-min-width) {
      font-size: 1.5rem;
    }
  }

  &__link {
    font-size: 1rem;
    font-family: $footer-links-font;
    margin-top: 10px;
    line-height: 1.8;

    @media screen and($tablet-min-width) {
      font-size: 1.125rem;
      margin-top: 16px;
    }
  }
}

.more-block__item {
  @media screen and($tablet-min-width) {
    margin: 0 210px 0 auto;
  }
}
