.header {
  padding: 15px;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media screen and($tablet-min-width ) {
    min-height: 100px;
    margin-bottom: 135px;
    padding: 0 40px;
  }

  @media screen and($desktop-min-width) {
    margin-bottom: 135px;
    padding: 0 80px;
    height: 152px;
  }

  &__nav {
    margin: 0 auto;
  }
}

.header__dropdown {
  display: flex;
  width: 100%;

  @media screen and($mobile-max-width) {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70px;
    height: 100vh;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgba(1, 1, 1, 0.5);
    opacity: 0;
    transform: translateY(-120%);
    transition: 250ms;
  }

  @media screen and($tablet-min-width ) {
    font-size: 1.125rem;
  }
}

.header__dropdown.shown {
  transform: translateY(0);
  opacity: 1;
}

.nav__list {
  display: flex;
  flex-direction: column;

  @media screen and($tablet-min-width) {
    flex-direction: row;

    & > li:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.dropdown__link {
  display: block;
  padding: 20px;

  @media screen and($tablet-min-width ) {
    padding: 0;
  }
}

.header__account {
  display: flex;
  align-items: center;

  color: inherit;
  background-color: transparent;
  border: none;

  @media screen and($mobile-max-width) {
    padding: 20px;
  }
}

.header__social-net {
  display: flex;
  align-items: center;

  @media screen and($mobile-max-width) {
    padding: 20px;
  }

  @media screen and($tablet-min-width) {
    position: absolute;
    top: 270px;
    left: 40px;
    writing-mode: vertical-lr;
    min-height: 173px;
  }

  @media screen and($desktop-min-width) {
    top: 360px;
    left: 80px;
  }
}

.social-net__link {
  display: block;
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-left: 20px;

  @media screen and($tablet-min-width) {
    margin: 24px 0 0 0;
  }
}
