.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 20px;
  margin-bottom: 360px;

  @media screen and($tablet-min-width) and($tablet-max-width) {
    padding: 0 120px;
    margin-bottom: 500px;
  }

  @media screen and($desktop-min-width) {
    padding: 0 120px 0 150px;
    margin-bottom: 823px;
  }
}

.hero__content {
  max-width: 400px;
  @media screen and($tablet-min-width ) {
    max-width: 600px;
  }

  @media screen and($desktop-min-width) {
    max-width: 950px;
  }
}

.hero__topic {
  @extend %topic;
  @extend %decoration-line;
  margin-bottom: 32px;
}

.hero__heading {
  margin-bottom: 32px;
  font-family: $headings-font;
  font-size: 2.4rem;
  line-height: 1.14;
  text-transform: capitalize;

  @media screen and ($tablet-min-width) {
    font-size: 4rem;
  }

  @media screen and($desktop-min-width) {
    font-size: 5.5rem;
  }
}

.hero__scroll-down {
  display: inline-flex;
  align-items: center;

  @media screen and($mobile-max-width ) {
    font-size: 1rem;
  }
}

.scroll-down__arrow {
  margin-left: 15px;
}
