.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 140px 80px;
  margin-bottom: 700px;
}

.hero__social-net {
  display: flex;
  flex-direction: column;

  & > a {
    margin-top: 24px;
  }
}

.social-net__text {
  writing-mode: vertical-rl;
}

.hero__content {
  margin: 0 auto;
  max-width: 950px;
}

.hero__topic {
  @extend %topic;
  @extend %decoration-line;
  margin-bottom: 32px;
}

.hero__heading {
  margin-bottom: 32px;
  font-family: $headings-font;
  font-size: 88px;
  line-height: 1.1;
}

.hero__scroll-down {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-width: 125px;
}
