.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 20px;
  // padding: 140px 80px;
  margin-bottom: 700px;
}

.hero__content {
  margin: 0 auto;
  max-width: 950px;
}

.hero__topic {
  @extend %topic;
  @extend %decoration-line;
  margin-bottom: 32px;
}

.hero__heading {
  margin-bottom: 32px;
  font-family: $headings-font;
  font-size: 3rem;
  // font-size: 5.5rem;
  line-height: 1.1;
}

.hero__scroll-down {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-width: 125px;
}
