.section {
  display: flex;
  position: relative;

  @media screen and($mobile-max-width) {
    padding: 100px 20px;
  }

  @media screen and($tablet-min-width) and($tablet-max-width) {
    padding: 100px 20px 100px 60px;
    min-width: 550px;
    margin-bottom: 150px;
  }

  @media screen and($desktop-min-width) {
    padding: 0 170px 0 80px;
    margin-bottom: 200px;
    width: 100%;
    max-width: 1712px;
    height: 720px;

    justify-content: space-between;
    align-items: center;
  }

  &__number {
    position: absolute;
    top: -100px;
    left: 0;
    font-size: 200px;
    line-height: 200px;
    opacity: 0.1;

    @media screen and($tablet-min-width) {
      left: -50px;
      font-size: 240px;
      line-height: 240px;
    }

    @media screen and($desktop-min-width) {
      left: -150px;
    }
  }

  &__text-wrapper {
    position: relative;
    @media screen and($tablet-min-width) and($tablet-max-width) {
      max-width: 400px;
      z-index: 2;
      background-color: rgba(11, 29, 38, 0.6);
      padding: 20px;
      border-radius: 20px;
    }

    @media screen and($desktop-min-width) {
      max-width: 632px;
      margin: 0 0 0 150px;
      margin-right: 20px;
    }
  }

  &__topic {
    @extend %topic;
    @extend %decoration-line;
    margin-bottom: 27px;
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: 27px;
    font-family: $headings-font;

    @media screen and($tablet-min-width) {
      font-size: 2.5rem;
    }

    @media screen and($desktop-min-width) {
      font-size: 4rem;
      max-width: 555px;
    }
  }

  &__text {
    font-size: 1rem;

    line-height: 1.8;
    margin-bottom: 27px;

    @media screen and($tablet-min-width) {
      font-size: inherit;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 125px;
    background-color: transparent;
    border: none;
    color: $accent-color;
    line-height: 1.2;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @media screen and($tablet-min-width) {
      font-size: 1.125rem;
    }
  }

  &__arrow {
    fill: $accent-color;
  }

  &__img {
    @media screen and($mobile-max-width) {
      display: none;
    }

    @media screen and($tablet-min-width) and($tablet-max-width) {
      position: absolute;
      top: 45%;
      right: 40px;
    }
  }
}

.section-collection {
  display: flex;
  flex-direction: column;

  @media screen and($tablet-min-width) and($tablet-max-width) {
    margin-right: 120px;
  }

  @media screen and($desktop-min-width) {
    align-items: center;
  }
}

.section-collection > section:nth-child(2n) {
  @media screen and($tablet-min-width) {
    flex-direction: row-reverse;
  }
}

.section-collection > section:nth-child(2n) > .section__img {
  @media screen and($tablet-max-width) {
    left: 40px;
  }
}
