.vidget {
  display: flex;
  align-items: center;
  position: sticky;
  top: 40vh;
}

.vidget__decoration-line {
  display: inline-block;
  width: 3px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.5);
}

.vidget__link {
  display: block;
  width: 75px;
  height: 60px;
  padding-right: 32px;
  text-align: end;
  line-height: 60px;
}

.vidget-container {
  position: absolute;
  top: 40vh;
  right: 40px;
  height: calc(100% - 1100px);

  @media screen and($mobile-max-width) {
    display: none;
  }

  @media screen and($desktop-min-width) {
    right: 80px;
  }
}
