html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: #0b1d26;
  font-size: 1.125rem;
  line-height: 1.2;
  font-family: $main-text-font, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
}

.logo {
  @extend %logo;
}

.bg-image {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  background-repeat: no-repeat;

  @media screen and($mobile-max-width) {
    background-image: url("../images/mobile-BG.jpg");
    background-size: 930px;
  }

  @media screen and($tablet-min-width) {
    background-image: url("../images/BG-image.jpg");
    background-size: 1400px;
  }
}

.no-scroll {
  overflow: hidden;
}
