%topic {
  font-family: $topics-font;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $accent-color;

  @media screen and ($mobile-max-width) {
    font-size: 0.8rem;
  }
}

%decoration-line::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  margin: 0 24px 0 0;
  vertical-align: middle;
  background-color: $accent-color;

  @media screen and ($tablet-min-width) {
    width: 72px;
  }
}

%logo {
  font-size: 2rem;
  font-family: $headings-font;
  letter-spacing: 0.01em;
}
