$accent-color: #fbd784;
$background-color: #0b1d26;
$headings-font: "ChronicleDisp-Semibold";
$main-text-font: "Gilroy-Bold";
$topics-font: "Gilroy-ExtraBold";
$footer-links-font: "Gilroy-Medium";
$mobile-max-width: "max-width: 767px";
$tablet-min-width: "min-width: 768px";
$tablet-max-width: "max-width: 1199px";
$desktop-min-width: "min-width: 1200px";
