$accent-color: #fbd784;
$background-color: #0b1d26;
$headings-font: "ChronicleDisp-Semibold";
$main-text-font: "Gilroy-Bold";
$topics-font: "Gilroy-ExtraBold";
$footer-links-font: "Gilroy-Medium";
